/* css 초기화 코드 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*메뉴바가 앞으로 오기 위해 모든 요소의 우선순위를 아래로 낮춤*/
body {
  position: relative;
  z-index: 4;
}
/*헤더*/
.header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 140px;
  box-sizing: border-box;
}
.top_container {
  position: relative;
  width: 100%;
  height: 42px;
  background-color: rgb(95, 0, 128);
  cursor: pointer;
}
.top_text {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  line-height: 42px;
}
#top_delete_button {
  position: absolute;
  top: 0px;
  right: 250px;
  height: 42px;
  width: 42px;
  padding: none;
  border: none;
  background-color: rgb(95, 0, 128);
  cursor: pointer;
}
.top_menu_container {
  display: flex;
  justify-content: space-between;
  height: 37px;
  margin: 0 240px;
}
.top_menu_img {
  margin: auto 0px; /*높이 가운데 정렬*/
  cursor: pointer;
}
.top_menu_box {
  display: flex;
  flex: wrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
}
.top_menu_1 {
  padding: 0px 12px;
  color: rgb(95, 0, 128);
  cursor: pointer;
}
.top_menu_2 {
  padding: 0px 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.top_menu_3 {
  padding-left: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
}
.top_menu_bar {
  margin: 12px 0px 0px 0px;
  width: 1px;
  height: 13px;
  background-color: rgb(216, 216, 216);
}
#top_menu_tri {
  position: relative;
  padding-left: 5px;
  color: rgb(51, 51, 51);
}
#top_menu_drop {
  display: none;
  position: relative;
  z-index: 15;
  position: absolute;
  top: 40px;
  right: 10px;
  width: 90px;
  padding: 5px;
  border: 1px solid #ddd;
  color: rgb(51, 51, 51);
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}
.logo_container {
  position: relative;
  top: -22px;
  height: 79px;
  text-align: center;
}
#logo {
  margin: auto 0px;
  cursor: pointer;
}
.main_menu_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  position: sticky;
  top: 0px;
  height: 56px;
  padding: 0px 240px;
  color: rgb(51, 51, 51);
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 3px rgba(228, 228, 228, 0.185);
}
.main_menu {
  clear: left;
  padding-top: 16px;
  line-height: 20px;
  background-color: white;
  cursor: pointer;
}
.main_search {
  display: flex;
  justify-content: space-between;
  width: 216px;
  height: 34px;
  margin: auto 0px;
  padding: 0px 10px 0px 14px;
  border: 1px solid #f7f7f6;
  border-radius: 18px;
  background-color: #f7f7f6;
  cursor: pointer;
}
.main_button_container {
  position: relative;
  margin: auto 0px;
  cursor: pointer;
}
.main_menu:hover {
  color: #5f0080;
  text-decoration: underline;
}
.main_button img:hover {
  filter: invert(12%) sepia(34%) saturate(7322%) hue-rotate(278deg)
    brightness(50%) contrast(120%);
}
/*드롭 박스 만들어보기 !!*/
.location_container {
  position: absolute;
  top: 28px;
  right: 50px;
  width: 275px;
  height: 101px;
  margin-top: 20px;
  padding: 18px 18px 19px 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  display: none;
}
.location_text {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: start;
}
.location_text span {
  color: rgb(95, 0, 128);
}
.location_button_container {
  display: flex;
  flex-flow: row nowrap;
}
.location_login_button {
  width: 100px;
  height: 35px;
  margin: 20px 15px 0px 0px;
  padding-bottom: 2px;
  border: 1px solid #5f0080;
  border-radius: 3px;
  background-color: #fff;
  color: #5f0080;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.location_search_button {
  width: 150px;
  height: 35px;
  margin-top: 20px;
  padding-bottom: 2px;
  border: 1px solid #5f0081;
  border-radius: 3px;
  background-color: #5f0080;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}
.location_search_button span {
  position: relative;
}
.location_search_button span img {
  position: absolute;
  top: -2px;
  right: 1px;
}
#category {
  width: 148px;
}
.category_icon {
  margin: 5px 14px 0px 0px;
}
#search {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f7f7f6;
  color: rgb(102, 102, 102);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.main_button {
  padding: none;
  border: none;
  background-color: white;
}
.category_drop {
  display: none;
  position: relative;
  float: left;
  margin-top: 20px;
  padding-top: 1px;
  background-color: white;
}
.category_drop li {
  position: relative;
  width: 205px;
  height: 32px;
  padding: 7px 0px 0px 14px;
}
.category_drop_img {
  position: absolute;
  top: 6px;
}
.category_drop_text {
  height: 22px;
  margin-left: 25px;
  padding: 0px 4px 0px 10px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.category_sub_drop {
  display: none;
  position: absolute;
  top: 0px;
  left: 220px;
  background-color: rgb(227, 227, 227);
}
.category_sub_drop li {
  width: 205px;
  height: 32px;
  padding: 7px 0px 0px 14px;
}
.category_sub_drop_text {
  height: 22px;
  padding: 0px 4px 0px 10px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

/*메인 사진 배너들*/
.content_image_container {
  clear: left;
  width: 100%;
  height: 370px;
}
/*스와이퍼*/
.swiper-container {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 370px;
}
/*기존의 버튼 디자인 초기화*/
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev {
  margin-left: 159px;
}
.swiper-button-next {
  margin-right: 159px;
}
/*상품들*/
.content_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 40px 0px;
  box-sizing: border-box;
}
.content {
  width: 1050px;
  height: 100%;
  padding: 32px 0px 40px 0px;
}
.content_title {
  position: relative;
  margin-bottom: 27px;
  padding: 8px;
  color: rgb(51, 51, 51);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.content_goods_container {
  display: flex;
  justify-content: space-between;
}
.content_goods {
  position: relative;
  padding: 0px 9px;
}
.content_goods_image {
  width: 249px;
  cursor: pointer;
}
.content_goods_button {
  position: absolute;
  right: 25px;
  top: 260px;
  width: 45px;
  cursor: pointer;
}
.content_next_button {
  position: absolute;
  top: 130px;
  left: 230px;
  width: 60px;
}
.content_goods_explain {
  display: flex;
  flex-direction: column;
  padding: 14px 10px 0px 0px;
}
.content_goods_name {
  margin-bottom: 8px;
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  cursor: pointer;
}
.content_goods_price {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  cursor: pointer;
}
.content_goods_sale {
  margin-right: 7px;
  color: rgb(250, 98, 47);
  font-size: 16px;
  font-weight: 800;
}
.content_goods_ex_price {
  margin-top: 2px;
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.sale_container {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 80px 0px;
  width: 1050px;
}
.sale_contents {
  width: 338px;
}
#sale_title {
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
  font-size: 28px;
  font-weight: 600;
}
#sale_subtitle {
  margin-bottom: 24px;
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 400;
}
.sale_time_container {
  padding-top: 4px;
}
#sale_text {
  margin-top: 32px;
  color: rgb(204, 204, 204);
  font-size: 14px;
  font-weight: 400;
}
.sale_goods {
  position: relative;
  width: 338px;
  padding: 0px 9px;
}
.sale_goods_image {
  width: 338px;
}
.sale_goods_icon_text {
  position: absolute;
  left: 10px;
  top: 0px;
  padding: 8px;
  background-color: rgb(189, 118, 255);
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.sale_goods_button {
  position: absolute;
  bottom: 90px;
  right: 30px;
}
.content_list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content_list {
  margin: 0px 5px 20px 5px;
  padding: 10px 20px;
  background-color: rgb(247, 247, 247);
  color: rgb(51, 51, 51);
  border-radius: 22px;
  font-size: 14px;
  line-height: 16px;
}
#content_list_click {
  background-color: rgb(95, 0, 128);
  color: rgb(255, 255, 255);
}
.content_all_container {
  height: 56px;
  margin-top: 20px;
}
.content_all_button {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0px 267px;
  border: 1px solid rgb(227, 227, 227);
}
.content_all_text {
  margin: auto 0px;
  padding: 0px 17px;
  color: rgb(76, 76, 76);
  font-size: 16px;
}
.content_title_icon {
  position: absolute;
}
.content_recipe_image {
  width: 338px;
}
.content_recipe_next_button {
  position: absolute;
  top: 90px;
  left: 320px;
  width: 60px;
}
.content_recipe_explain {
  display: flex;
  justify-content: center;
  padding: 14px 10px;
}
.content_recipe_name {
  color: rgb(76, 76, 76);
  font-size: 16px;
  font-weight: 400;
}
.adv_img_container {
  height: 140px;
  width: 1050px;
  overflow: hidden;
}
#adv_img {
  width: 1050px;
  height: auto;
  margin-top: -40px;
}
.content_subtitle {
  padding-top: 15px;
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 400;
}
.content_insta_container {
  display: flex;
  flex-wrap: nowrap;
}
.content_insta {
  position: relative;
}
#content_insta_next_button {
  position: absolute;
  top: 60px;
  left: 145px;
  width: 60px;
}
.insta_text_container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.insta_text {
  margin: 0px auto;
  padding-bottom: 15px;
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 400;
}
.insta_link {
  margin: 0px auto;
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 700;
}

/*푸터*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 507px;
  border-top: 1px solid rgba(218, 218, 218, 0.212);
  box-sizing: border-box;
}
.inner_footer_container {
  display: flex;
  flex-wrap: nowrap;
  width: 1050px;
  padding-bottom: 24px;
}
.inner_footer {
  width: 534px;
  padding-top: 29px;
}
#inner_footer_title {
  padding-bottom: 2px;
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-weight: 700;
}
.inner_footer_call_container {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
}
.inner_footer_call {
  margin-right: 16px;
  padding-top: 4px;
  color: rgb(51, 51, 51);
  font-size: 28px;
  font-weight: 800;
}
.inner_footer_call_name {
  height: 22px;
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 400;
}
.inner_footer_call_time {
  height: 22px;
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 400;
}
.inner_footer_sns {
  width: 138px;
  height: 31px;
  margin: 3px 16px 0px 0px;
  padding-top: 7px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
#inner_footer_mail {
  padding-top: 9px;
  color: rgb(153, 153, 153);
  font-size: 14px;
  font-weight: 400;
}
.inner_footer_list_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 29px;
  height: 20px;
}
.inner_footer_list {
  padding-right: 16px;
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
#inner_footer_company_inform {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.inner_footer_inform_link {
  color: rgb(95, 0, 128);
}
.inner_footer_icon_container {
  display: flex;
  flex-wrap: nowrap;
  width: 190px;
  height: 30px;
  padding-top: 45px;
}
.inner_footer_icon {
  padding-right: 10px;
  cursor: pointer;
}
.footer_link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1050px;
  height: 37px;
  padding: 20px 0px 24px 0px;
  border-top: 1px solid rgba(218, 218, 218, 0.212);
}
.footer_link_container {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}
.footer_link_mark {
  margin-right: 10px;
}
.footer_link_explain {
  color: rgb(153, 153, 153);
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}
.last_footer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 57px;
  padding: 19px 0px 27px 0px;
  background-color: rgb(247, 247, 247);
}
.last_footer_text {
  margin: 0 auto;
  color: rgb(153, 153, 153);
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}
.last_footer_logo {
  margin: 0 auto;
  color: rgb(153, 153, 153);
  font-size: 10px;
  font-weight: 400;
  line-height: 25px;
}
/*고정 광고*/
.fixed_container {
  z-index: 100;
  position: fixed;
  right: 20px;
  top: 300px;
  box-sizing: border-box;
  cursor: pointer;
}
.fixed_image_container {
  width: 80px;
  height: 120px;
  padding-bottom: 7px;
}
.fixed_menu_container {
  border: 1px solid #ddd;
  border-top: 0 none;
  background-color: white;
}
.fixed_menu {
  height: 23px;
  padding-top: 5px;
  border-top: 1px solid #ddd;
  color: rgb(51, 51, 51);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
